{% extends "base.html" %}

{% block title %}View Students{% endblock %}

{% block content %}

     <div class="container-fluid py-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container text-center py-4">
            <h1 >Admin Home</h1>
        </div>
</div>

    <div class="container-fluid bg-primary mb-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container">
            <div class="row g-0">
                <div class="col-lg-11">
                    <div class="h-100 py-5 d-flex align-items-center">
                        
                            <span></span>
                        </button>
                            

                        <h3 class="ms-5 mb-0">We build a world where everyone has the chance to expand their knowledge and share expertise through our engaging online platform
                        </h3>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
  {% endblock %}