{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Registraion Status</title>
  <link rel="icon" href="favicon.ico">
  <link href="{% static 'style.css' %}" rel="stylesheet">
</head>

<body x-data="{ page: 'home', 'darkMode': true, 'stickyMenu': false, 'navigationOpen': false, 'scrollTop': false }"
  x-init="
         darkMode = JSON.parse(localStorage.getItem('darkMode'));
         $watch('darkMode', value => localStorage.setItem('darkMode', JSON.stringify(value)))"
  :class="{'b eh': darkMode === true}">
  <!-- ===== Header Start ===== -->
  <header class="g s r vd ya cj" :class="{ 'hh sm _k dj bl ll' : stickyMenu }"
    @scroll.window="stickyMenu = (window.pageYOffset > 20) ? true : false">
    <div class="bb ze ki xn 2xl:ud-px-0 oo wf yf i">
      <div class="vd to/4 tc wf yf">
        <a href="{% url 'home' %}">
          <img class="om" src="{% static 'images/logo-light.png' %}" alt="Logo Light" width="150px" height="1000px"/> 
        </a>

        <!-- Hamburger Toggle BTN -->
        <button class="po rc" @click="navigationOpen = !navigationOpen">
          <span class="rc i pf re pd">
            <span class="du-block h q vd yc">
              <span class="rc i r s eh um tg te rd eb ml jl dl" :class="{ 'ue el': !navigationOpen }"></span>
              <span class="rc i r s eh um tg te rd eb ml jl fl" :class="{ 'ue qr': !navigationOpen }"></span>
              <span class="rc i r s eh um tg te rd eb ml jl gl" :class="{ 'ue hl': !navigationOpen }"></span>
            </span>
            <span class="du-block h q vd yc lf">
              <span class="rc eh um tg ml jl el h na r ve yc" :class="{ 'sd dl': !navigationOpen }"></span>
              <span class="rc eh um tg ml jl qr h s pa vd rd" :class="{ 'sd rr': !navigationOpen }"></span>
            </span>
          </span>
        </button>
        <!-- Hamburger Toggle BTN -->
      </div>

      <div class="vd wo/4 sd qo f ho oo wf yf" :class="{ 'd hh rm sr td ud qg ug jc yh': navigationOpen }">
        <nav>
        </nav>

        <div class="tc wf ig pb no">
            <a href=""> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </a>
            <a href="{% url 'home' %}" class="xl" :class="{ 'mk': page === 'home' }">Home</a>
            <a href=""> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </a>
            
        </div>
      </div>
    </div>
  </header>

  <!-- ===== Header End ===== -->

  <main>
    <!-- ===== SignIn Form Start ===== -->
    <section class="i pg fh rm ki xn vq gjc  hj rp hr">
      <!-- Bg Shapes -->
      <img src="{% static 'images/shape-06.svg' %}" alt="Shape" class="h j k" />
      <img src="{% static 'images/shape-03.svg' %}" alt="Shape" class="h l m" />
      <img src="{% static 'images/shape-17.svg' %}" alt="Shape" class="h n o" />
      <img src="{% static 'images/shape-18.svg' %}" alt="Shape" class="h p q" />

      <div class=" bb af i va sg hh sm vk xm yi _n jp hi ao kp">
        <!-- Bg Border -->
        <span class="rc h r s zd/2 od zg gh"></span>
        <span class="rc h r q zd/2 od xg mh"></span>

        <div class="rj">
          
          

          <span class="i rc sj hk xj">
            
            <h2 class="ek ck kk wm xb">Check Registration Status</h2>
          </span>
        </div>

        <form class="sb" action="" method="post">
            {% csrf_token %}
          <div class="wb">
            <label class="rc kk wm vb" for="username">User Name</label>
            <input type="text" name="username" id="username" placeholder="example@gmail.com"
              class="vd hh rg zk _g ch hm dm fm pl/50 xi mi sm xm pm dn/40" />
          </div>

          <div class="wb">
            <label class="rc kk wm vb" for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="**************"
              class="vd hh rg zk _g ch hm dm fm pl/50 xi mi sm xm pm dn/40" />
          </div>

          <button class="vd rj ek rc rg gh  ml il _l gi hi" style="color: white;">
           Chech Status
          </button>

         
        </form>
      </div>
    </section>

  </main>
  
  
  <script defer src="{% static 'bundle.js' %}"></script>
</body>

</html>